# Node.js dependencies
node_modules/

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.pid.lock

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Build files
dist/
build/

# IDE-specific files
.idea/
.vscode/

# Temporary files
*.tmp
*.swp
*.bak

# Coverage reports
coverage/
